[submodule "styles/bubble-wrap"]
	path = styles/bubble-wrap
	url = https://github.com/tangrams/bubble-wrap.git
[submodule "styles/cinnabar"]
	path = styles/cinnabar
	url = https://github.com/tangrams/cinnabar-style-more-labels.git
[submodule "styles/refill"]
	path = styles/refill
	url = https://github.com/tangrams/refill-style-more-labels.git
[submodule "styles/walkabout"]
	path = styles/walkabout
	url = https://github.com/tangrams/walkabout-style-more-labels.git
