[submodule "styles/bubble-wrap"]
	path = housestyles.bundle/bubble-wrap
	url = https://github.com/tangrams/bubble-wrap.git
[submodule "styles/cinnabar"]
	path = housestyles.bundle/cinnabar
	url = https://github.com/tangrams/cinnabar-style.git
[submodule "styles/refill"]
	path = housestyles.bundle/refill
	url = https://github.com/tangrams/refill-style.git
[submodule "styles/walkabout"]
	path = housestyles.bundle/walkabout
	url = https://github.com/tangrams/walkabout-style.git
